.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 14px;
  margin-top: 20px;
}

.img {
  height: 140px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}
