.logo {
  height: 32px;
  margin: 16px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.header {
  background: #fff;
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
}

.content {
  margin: 16px;
  padding: 16px;
  background: #f5f5f5;
  min-height: 280px;
}

.footer {
  text-align: center;
}
.content {
  padding: 0;
  background: #f5f7fb;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
}
