<nz-layout style="min-height: 100vh">

  <!-- SIDEBAR -->
  <nz-sider nzTheme="dark" nzCollapsible nzWidth="220px">
    <div class="logo">Reviews</div>

    <ul nz-menu nzTheme="dark" nzMode="inline">

    

      <!-- OWNER -->
      <li *ngIf="role === 'owner'" nz-menu-item routerLink="/restaurants">
        <span nz-icon nzType="home"></span>
        Mis Restaurantes
      </li>

      <li *ngIf="role === 'owner'" nz-menu-item routerLink="/restaurants/create">
        <span nz-icon nzType="plus-circle"></span>
        Crear restaurante
      </li>
      <!-- OWNER -->
<li *ngIf="role === 'owner'" nz-menu-item routerLink="/analytics">
  <span nz-icon nzType="bar-chart"></span>
  Analytics
</li>


      <!-- ADMIN -->
      <li *ngIf="role === 'admin'" nz-menu-item routerLink="/admin">
        <span nz-icon nzType="tool"></span>
        Administración
      </li>
<li *ngIf="role === 'admin'" nz-menu-item routerLink="/admin/reviews-reports">
  <span nz-icon nzType="flag"></span>
  Reseñas reportadas
</li>

<li *ngIf="role === 'admin'" nz-menu-item routerLink="/admin/reviews-pending">
  <span nz-icon nzType="check-circle"></span>
  Moderar reseñas
</li>


<li *ngIf="role === 'admin'" nz-menu-item routerLink="/admin/categories">
  <span nz-icon nzType="check-circle"></span>
  Categorias
</li>

<li *ngIf="role === 'admin'"
    nz-menu-item
    routerLink="/admin/restaurants-approval">
  <span nz-icon nzType="shop"></span>
  Aprobar restaurantes
</li>

<li *ngIf="role === 'admin'" nz-menu-item routerLink="/admin/restaurants-history">
  <span nz-icon nzType="history"></span>
  Historial restaurantes
</li>
<li *ngIf="role === 'admin'" nz-menu-item routerLink="/admin/admin-owners">
  <span nz-icon nzType="team"></span>
  Usuarios Dueños
</li>
    </ul>
  </nz-sider>

  <!-- MAIN -->
  <nz-layout>

    <!-- HEADER -->
    <nz-header class="header">
      <button nz-button nzType="link" (click)="logout()">
        Salir
      </button>
    </nz-header>

    <!-- CONTENT -->
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>

    <!-- FOOTER -->
    <nz-footer class="footer">
      Reviews ©2025
    </nz-footer>

  </nz-layout>

</nz-layout>
